<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345854385639-dt74b7vr1kiljth5gumc4pd43egelpcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345854385639-dt74b7vr1kiljth5gumc4pd43egelpcb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>345854385639-fr0k4nsu18vuvdm2lkhm5ssublsvt80t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHO9UXZULhzEeBFEvkSxnGyomVFdq7WuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>345854385639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.universeHistoryApp</string>
	<key>PROJECT_ID</key>
	<string>universe-history-app-d8abb</string>
	<key>STORAGE_BUCKET</key>
	<string>universe-history-app-d8abb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345854385639:ios:aa3927be3a6c7b71e93142</string>
</dict>
</plist>